// Yeti 3.3.4
// Bootswatch
// -----------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
//footer=======================================================================
.foot-links a, .foot-links p{
  display: block;
   color: rgb(63, 63, 63);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 13px;
  color: rgb(63, 63, 63);
  padding-bottom: 5px;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px;
  
}
.foot-links img{
	padding-top: 5px;
}
.foot-header{
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 18px;
  color: rgb(63, 63, 63);
  padding-bottom: 20px;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px;
}
#bottom-footer{
  margin-bottom: 20px;
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
}
#bottom-footer a{
	  text-decoration: none;
  color: #626262;
//  -webkit-transition: all .2s ease-in-out;
//  -moz-transition: all .2s ease-in-out;
//  -o-transition: all .2s ease-in-out;
//  -ms-transition: all .2s ease-in-out;
//  transition: all .2s ease-in-out;
  font-size: 12px;
  padding: 0px 15px;
  border-right: 1px solid #ccc;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 13px;
  color: #626262;
  padding: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,1);
}
#final-footer{
	font-size: 11px;
  	color: #666;
}
#final-footer i{
	font-size: auto;
}
.bullet-box-shadow{
  padding:5px 10px 25px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.7); 
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);   
}
body{
overflow-x:hidden !important;
background-color: #1A2817;    
}
html, body{
 height:100%;   
}
.title-feed span{
   text-shadow: 1px 1px 1px #000; font-size:48px; line-height:1;
}
.title-feed{
  height:auto; padding:25px; background-color:rgba(0, 0, 0, 0.1); color:white; border:none; position:fixed; top:118px; text-align:center; z-index:999; width:100%; border-top:1px solid rgba(75, 100, 72, 0.2); 
}
 @media (max-width: 768px) {  
    .title-feed{
     top:47px;
        padding:15px;
        
    }
        .title-feed span{
     font-size: 36px;
        
    }
 }
/*timeline*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: #305729;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
h1{
 color:#305729;   
}
.modal {
     overflow-y: auto;
     }
    .modal-open {
    overflow: auto;
    }
    .modal-open[style] {
    padding-right: 0px !important;
    }
// Navbar =====================================================================
.navbar {
  border: none;
  border-radius:0;
  font-size: 14px;
  font-weight: 400;
    li:hover {
    cursor: pointer;
}
    .navbar-header{
//     margin-right: 10px;   
    }
  .navbar-toggle:hover .icon-bar {
    background-color: #b3b3b3;
  }
    .navbar-default .navbar-nav > .active > a:focus{
        color: #555;
          background-color: #000;
    }
    .navbar-brand{
     padding-top:5px;   
    }
  &-collapse {
    border-top-color: $dropdown-divider-bg;
//    @include box-shadow(none);
  }

  .btn {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &-form {
    margin-top: 7px;
    margin-bottom: 5px;

    .form-control {
      height: auto;
      padding: $padding-xs-vertical $padding-xs-horizontal;
    }
  }

  .dropdown {

    &-menu {
      border: none;

      > li > a,
      > li > a:focus {
        background-color: transparent;
        font-size: 13px;
        font-weight: 300;
      }
    }

    &-header {
      color: rgba(255, 255, 255, 0.5);
    }

  }

  &-default {
      border-top:3px solid $logo-green;
      background-color: $navbar-default-bg;
//      -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
//      -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
//      box-shadow: 0 1px 3px 0px #777;
    .navbar-toggle .icon-bar{
        background-color: $logo-green;
    }
    .navbar-nav > li > a {
        color: $gray-orange
    }
      .navbar-collapse{
       border-color: #F7FAF7;   
      }
    .navbar-nav > .active > a, .navbar-nav > .active > a:hover,
     .navbar-nav > .active > a, .navbar-nav > .active > a:focus {
         background-color: transparent;
         color:$navbar-hover-green;
    }
//      > .nav > .navbar-nav > li > .active > a:hover,
//      > .nav > .navbar-nav > li > .active > a:focus{
//          color: #555333;
//          background-color: $navbar-hover-green;
//          
//      }
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
          color: $navbar-hover-green;
          background-color: transparent;
          
      } 
    @media (min-width: 768px) {  
        .navbar-nav {
        float: right;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    }
    .dropdown-menu {
      background-color: $navbar-default-bg;

      > li > a,
      > li > a:focus {
        color: $navbar-default-color;
      }

      > li > a:hover,
      > .active > a,
      > .active > a:hover {
        background-color: $navbar-default-link-hover-bg;
      }
    }
  }

  &-inverse {

    .dropdown-menu {
      background-color: $navbar-inverse-bg;

      > li > a,
      > li > a:focus {
        color: $navbar-inverse-color;
      }

      > li > a:hover,
      > .active > a,
      > .active > a:hover {
        background-color: $navbar-inverse-link-hover-bg;
      }
    }
  }
}

// Buttons ====================================================================

.btn {
  padding: $padding-base-vertical $padding-base-horizontal;

  &-lg {
    padding: $padding-large-vertical $padding-large-horizontal;
  }

  &-sm {
    padding: $padding-small-vertical $padding-small-horizontal;
  }

  &-xs {
    padding: $padding-xs-vertical $padding-xs-horizontal;
  }
}

.btn-group {

  .btn ~ .dropdown-toggle {
    padding-left: 16px;
    padding-right: 16px;
  }

  .dropdown-menu {
    border-top-width: 0;
  }

  &.dropup .dropdown-menu {
    border-top-width: 1px;
    border-bottom-width: 0;
    margin-bottom: 0;
  }

  .dropdown-toggle {

    &.btn-default ~ .dropdown-menu {
      background-color: $btn-default-bg;
      border-color: $btn-default-border;

      > li > a {
        color: $btn-default-color;
      }

      > li > a:hover {
        background-color: darken($btn-default-bg, 8%);
      }
    }

    &.btn-primary ~ .dropdown-menu {
      background-color: $btn-primary-bg;
      border-color: $btn-primary-border;

      > li > a {
        color: $btn-primary-color;
      }

      > li > a:hover {
        background-color: darken($btn-primary-bg, 8%);
      }
    }

    &.btn-success ~ .dropdown-menu {
      background-color: $btn-success-bg;
      border-color: $btn-success-border;

      > li > a {
        color: $btn-success-color;
      }

      > li > a:hover {
        background-color: darken($btn-success-bg, 8%);
      }
    }

    &.btn-info ~ .dropdown-menu {
      background-color: $btn-info-bg;
      border-color: $btn-info-border;

      > li > a {
        color: $btn-info-color;
      }

      > li > a:hover {
        background-color: darken($btn-info-bg, 8%);
      }
    }

    &.btn-warning ~ .dropdown-menu {
      background-color: $btn-warning-bg;
      border-color: $btn-warning-border;

      > li > a {
        color: $btn-warning-color;
      }

      > li > a:hover {
        background-color: darken($btn-warning-bg, 8%);
      }
    }

    &.btn-danger ~ .dropdown-menu {
      background-color: $btn-danger-bg;
      border-color: $btn-danger-border;

      > li > a {
        color: $btn-danger-color;
      }

      > li > a:hover {
        background-color: darken($btn-danger-bg, 8%);
      }
    }
  }
}

// Typography =================================================================

.lead {
  color: $gray;
}

cite {
  font-style: italic;
}

blockquote {
  border-left-width: 1px;
  color: $gray;

  &.pull-right {
    border-right-width: 1px;
  }

  small {
    font-size: $font-size-small;
    font-weight: 300;
  }
}

// Tables =====================================================================

table {
  font-size: $font-size-small;
}

// Forms ======================================================================

label,
.control-label,
.help-block,
.checkbox,
.radio {
  font-size: $font-size-small;
  font-weight: normal;
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 1px;
}

// Navs =======================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.nav-tabs {
  > li > a {
    background-color: $btn-default-bg;
    color: $text-color;
  }

  .caret {
    border-top-color: $text-color;
    border-bottom-color: $text-color;
  }
}

.nav-pills {
  font-weight: 300;
}

.breadcrumb {
  border: 1px solid $table-border-color;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.pagination {
  font-size: $font-size-small;
  font-weight: 300;
  color: $gray-light;

  > li {
    > a,
    > span {
      margin-left: 4px;
      color: $gray-light;
    }
  }

  > .active {
    > a,
    > span {
      color: #fff;
    }
  }

  > li,
  > li:first-child,
  > li:last-child {
    > a,
    > span {
      border-radius: 3px;
    }
  }

  &-lg > li > a {
    padding-left: 22px;
    padding-right: 22px;
  }

  &-sm > li > a {
    padding: 0 5px;
  }
}

.pager {
  font-size: $font-size-small;
  font-weight: 300;
  color: $gray-light;
}

.list-group {
  font-size: $font-size-small;
  font-weight: 300;
}

// Indicators =================================================================

.close {
  opacity: 0.4;
  text-decoration: none;
  text-shadow: none;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.alert {
  font-size: $font-size-small;
  font-weight: 300;

  .alert-link {
    font-weight: normal;
    color: #fff;
    text-decoration: underline;
  }
}

.label {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0;
  font-weight: 300;

  &-default {
    background-color: $btn-default-bg;
    color: $btn-default-color;
  }
}

.badge {
  font-weight: 300;
}

// Progress bars ==============================================================

.progress {
  height: 22px;
  padding: 2px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
//  @include box-shadow(none);
}

// Containers =================================================================

.dropdown {

  &-menu {
    padding: 0;
    margin-top: 0;
    font-size: $font-size-small;

    > li > a {
      padding: 12px 15px;
    }
  }

  &-header {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 9px;
    text-transform: uppercase;
  }
}

.popover {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.panel {
  &-heading,
  &-footer {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &-default {
    .close {
      color: $text-color;
    }
  }
}

.modal {
  .close {
    color: $text-color;
  }
}
