@import url(bootstrap-yeti.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

.foot-links a, .foot-links p {
  display: block;
  color: #3f3f3f;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 13px;
  color: #3f3f3f;
  padding-bottom: 5px;
  text-shadow: white 1px 1px 0px; }

.foot-links img {
  padding-top: 5px; }

.foot-header {
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 18px;
  color: #3f3f3f;
  padding-bottom: 20px;
  text-shadow: white 1px 1px 0px; }

#bottom-footer {
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px; }

#bottom-footer a {
  text-decoration: none;
  color: #626262;
  font-size: 12px;
  padding: 0px 15px;
  border-right: 1px solid #ccc;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 13px;
  color: #626262;
  padding: 0;
  text-shadow: 1px 1px 0 white; }

#final-footer {
  font-size: 11px;
  color: #666; }

#final-footer i {
  font-size: auto; }

.bullet-box-shadow {
  padding: 5px 10px 25px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2); }

body {
  overflow-x: hidden !important;
  background-color: #fff; 
background-image: url("../images/bg2.png");
}

html, body {
  height: 100%; 
  -ms-overflow-style: none !important; 
}
@-ms-viewport {
    width: auto;
}
@media (max-width: 768px) {
.center-block{
    float:none;
    margin:10px 0;
}
}
@media (min-width: 768px) {
.center-block{
    float:right;
    margin:75px 15px;
}
}
.title-feed span {
  text-shadow: 1px 1px 1px #000;
  font-size: 48px;
  line-height: 1; }

.title-feed {
  height: auto;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  position: fixed;
  top: 118px;
  text-align: center;
  z-index: 999;
  width: 100%;
  border-top: 1px solid rgba(75, 100, 72, 0.2); }

@media (max-width: 768px) {
  .title-feed {
    top: 47px;
    padding: 15px; }

  .title-feed span {
    font-size: 36px; } }
/*timeline*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right; }

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.timeline-badge.primary {
  background-color: #2e6da4 !important; }

.timeline-badge.success {
  background-color: #3f903f !important; }

.timeline-badge.warning {
  background-color: #f0ad4e !important; }

.timeline-badge.danger {
  background-color: #d9534f !important; }

.timeline-badge.info {
  background-color: #5bc0de !important; }

.timeline-title {
  margin-top: 0;
  color: #305729; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

h1 {
  color: #305729; }

.modal {
  overflow-y: auto; }

.modal-open {
  overflow: auto; }

.modal-open[style] {
  padding-right: 0px !important; }
.solutionHeader{
   display:inline; color:#305729; 
}
.navbar {
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-weight: 400; }
  .navbar li:hover {
    cursor: pointer; }
  .navbar .navbar-toggle:hover .icon-bar {
    background-color: #b3b3b3; }
  .navbar .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #000; }
  .navbar .navbar-brand {
    padding-top: 5px; }
  .navbar-collapse {
    border-top-color: rgba(0, 0, 0, 0.2); }
  .navbar .btn {
    padding-top: 6px;
    padding-bottom: 6px; }
  .navbar-form {
    margin-top: 7px;
    margin-bottom: 5px; }
    .navbar-form .form-control {
      height: auto;
      padding: 4px 6px; }
  .navbar .dropdown-menu {
    border: none; }
    .navbar .dropdown-menu > li > a,
    .navbar .dropdown-menu > li > a:focus {
      background-color: transparent;
      font-size: 13px;
      font-weight: 300; }
  .navbar .dropdown-header {
    color: rgba(255, 255, 255, 0.5); }
  .navbar-default {
    border-top: 3px solid #4e8c42;
    background-color: white; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #4e8c42; }
    .navbar-default .navbar-nav > li > a {
      color: #353331; }
    .navbar-default .navbar-collapse {
      border-color: #F7FAF7; }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
      background-color: transparent;
      color: #4e8c42; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #4e8c42;
      background-color: transparent; }
    @media (min-width: 768px) {
      .navbar-default .navbar-nav {
        float: right;
        margin-top: 5px;
        margin-bottom: 20px; } }
    .navbar-default .dropdown-menu {
      background-color: white; }
      .navbar-default .dropdown-menu > li > a,
      .navbar-default .dropdown-menu > li > a:focus {
        color: #fff; }
      .navbar-default .dropdown-menu > li > a:hover,
      .navbar-default .dropdown-menu > .active > a,
      .navbar-default .dropdown-menu > .active > a:hover {
        background-color: #447B3A; }
  .navbar-inverse .dropdown-menu {
    background-color: #008cba; }
    .navbar-inverse .dropdown-menu > li > a,
    .navbar-inverse .dropdown-menu > li > a:focus {
      color: #fff; }
    .navbar-inverse .dropdown-menu > li > a:hover,
    .navbar-inverse .dropdown-menu > .active > a,
    .navbar-inverse .dropdown-menu > .active > a:hover {
      background-color: #006687; }

.btn {
  padding: 8px 12px; }
  .btn-lg {
    padding: 16px 20px; }
  .btn-sm {
    padding: 8px 12px; }
  .btn-xs {
    padding: 4px 6px; }

.btn-group .btn ~ .dropdown-toggle {
  padding-left: 16px;
  padding-right: 16px; }
.btn-group .dropdown-menu {
  border-top-width: 0; }
.btn-group.dropup .dropdown-menu {
  border-top-width: 1px;
  border-bottom-width: 0;
  margin-bottom: 0; }
.btn-group .dropdown-toggle.btn-default ~ .dropdown-menu {
  background-color: #e7e7e7;
  border-color: #ccc; }
  .btn-group .dropdown-toggle.btn-default ~ .dropdown-menu > li > a {
    color: #333333; }
  .btn-group .dropdown-toggle.btn-default ~ .dropdown-menu > li > a:hover {
    background-color: lightgray; }
.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu {
  background-color: #008cba;
  border-color: #0079a1; }
  .btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu > li > a {
    color: #fff; }
  .btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu > li > a:hover {
    background-color: #006d91; }
.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu {
  background-color: #43ac6a;
  border-color: #3c9a5f; }
  .btn-group .dropdown-toggle.btn-success ~ .dropdown-menu > li > a {
    color: #fff; }
  .btn-group .dropdown-toggle.btn-success ~ .dropdown-menu > li > a:hover {
    background-color: #388f58; }
.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu {
  background-color: #5bc0de;
  border-color: #46b8da; }
  .btn-group .dropdown-toggle.btn-info ~ .dropdown-menu > li > a {
    color: #fff; }
  .btn-group .dropdown-toggle.btn-info ~ .dropdown-menu > li > a:hover {
    background-color: #39b3d7; }
.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu {
  background-color: #E99002;
  border-color: #d08002; }
  .btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu > li > a {
    color: #fff; }
  .btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu > li > a:hover {
    background-color: #c17702; }
.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu {
  background-color: #F04124;
  border-color: #ea2f10; }
  .btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu > li > a {
    color: #fff; }
  .btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu > li > a:hover {
    background-color: #dc2c0f; }

.lead {
  color: #6f6f6f; }

cite {
  font-style: italic; }

blockquote {
  border-left-width: 1px;
  color: #6f6f6f; }
  blockquote.pull-right {
    border-right-width: 1px; }
  blockquote small {
    font-size: 12px;
    font-weight: 300; }

table {
  font-size: 12px; }

label,
.control-label,
.help-block,
.checkbox,
.radio {
  font-size: 12px;
  font-weight: normal; }

input[type="radio"],
input[type="checkbox"] {
  margin-top: 1px; }

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent; }

.nav-tabs > li > a {
  background-color: #e7e7e7;
  color: #222222; }
.nav-tabs .caret {
  border-top-color: #222222;
  border-bottom-color: #222222; }

.nav-pills {
  font-weight: 300; }

.breadcrumb {
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase; }

.pagination {
  font-size: 12px;
  font-weight: 300;
  color: #999999; }
  .pagination > li > a,
  .pagination > li > span {
    margin-left: 4px;
    color: #999999; }
  .pagination > .active > a,
  .pagination > .active > span {
    color: #fff; }
  .pagination > li > a,
  .pagination > li > span,
  .pagination > li:first-child > a,
  .pagination > li:first-child > span,
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-radius: 3px; }
  .pagination-lg > li > a {
    padding-left: 22px;
    padding-right: 22px; }
  .pagination-sm > li > a {
    padding: 0 5px; }

.pager {
  font-size: 12px;
  font-weight: 300;
  color: #999999; }

.list-group {
  font-size: 12px;
  font-weight: 300; }

.close {
  opacity: 0.4;
  text-decoration: none;
  text-shadow: none; }
  .close:hover, .close:focus {
    opacity: 1; }

.alert {
  font-size: 12px;
  font-weight: 300; }
  .alert .alert-link {
    font-weight: normal;
    color: #fff;
    text-decoration: underline; }

.label {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0;
  font-weight: 300; }
  .label-default {
    background-color: #e7e7e7;
    color: #333333; }

.badge {
  font-weight: 300; }

.progress {
  height: 22px;
  padding: 2px;
  background-color: #f6f6f6;
  border: 1px solid #ccc; }

.dropdown-menu {
  padding: 0;
  margin-top: 0;
  font-size: 12px; }
  .dropdown-menu > li > a {
    padding: 12px 15px; }
.dropdown-header {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 9px;
  text-transform: uppercase; }

.popover {
  color: #fff;
  font-size: 12px;
  font-weight: 300; }

.panel-heading, .panel-footer {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }
.panel-default .close {
  color: #222222; }

.modal .close {
  color: #222222; }

/*# sourceMappingURL=main.css.map */
