<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">How to Establish a Secured FTP Connection Using Core FTP LE</h3>
  </div>
  <div class="panel-body">
<table border="0">
  <tr>
    <td valign="top">
      <p align="left" class="style4"><strong>AUTOMATED BATCH FILES:</strong> If you are using a batch file to automate your FTP connection, please note that the FTP command from Microsoft does not support FTPS or SFTP, port 990, nor it supports encrypted SSL connection. There may be third party software out there. If you would like to continue to automate or schedule your FTP functions, you can purchase the full version of <a href="http://www.coreftp.com/" target="_blank">CoreFTP</a> or <a href="http://www.ipswitch.com/" target="_blank">WS-FTP</a>.</p>
      <p align="left" class="style2">&nbsp;</p>
      <p align="left" class="style2">Establishing an Secured FTP Connection using CoreFTP.<br>
      </p>
      <p align="left" class="style4">1. Download and install the free version of CORE FTP LE</p>
      <p align="left" class="style4"><a href="http://coreftp.com/download.html" target="_blank">Click here to Download  Core FTP LE</a></p>
      <p align="left" class="style4">2. After installing, run Core FTP LE.</p>
      <p align="left" class="style4"><img src="images/screenshot-coreftp1.jpg" alt="Screenshot" class="img-responsive" style="padding-top:25px; height:auto; width:auto;" /></p>
      <p align="left" class="style4">3. Click on FILE&gt;CONNECT (see image above)</p>
      <p align="left" class="style4">4. You will see a pop up screen (see below), enter all the information as shown.</p>
      <p align="left" class="style4">5. Also, you should also enter your USERNAME* and PASSWORD* in the designated textbox. <br>
      </p>
      <p align="left" class="style4">6. The, click on the Connect Button.</p>
      <p align="left" class="style4">&nbsp;</p>
      <p align="left" class="style6">Use the following connections configuration:<br>
      </p>
      <p align="left" class="style4"><img src="images/auth-ssl.jpg" alt="" class="img-responsive" style="padding-top:25px; height:auto; width:auto;" /></p>
      <p align="left" class="style4">&nbsp;</p>
      <p align="left" class="style4"><strong>Note:</strong> Under Connection drop down list</em>, choose <span class="style7">AUTH SSL or AUTH TLS</span>, and make sure the port is 990. <br>
      Port 21 is no longer available.</p>
      <p align="left" class="style5">How do you know if your connection is secure using CoreFTP?</p>
      <p align="left" class="style4"><img src="images/ftpsimage9.gif" class="img-responsive" style="padding-top:25px; height:auto; width:auto;"><br><br>
      At the bottom right of the application screen you should see a yellow lock. This tells you that your connection is secured and encrypted.</p>
      <p align="left" class="style4">&nbsp;</p>
      <p align="left" class="style4">
      </p>
      <p align="left" class="style1"><span class="style4">* If you need further assistance, please call our helpdesk at 866-756-6041, or email us at <a href="mailto:help@collectorsolutions.com" class="style1">help@collectorsolutions.com</a>.</span></p>      </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
  </div>
</div>