<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">How to Change Cache Setting in Internet Explorer</h3>
  </div>
  <div class="panel-body">
<table border="0">
  <tr>
    <td valign="top">
      
      <p>1. On the Menu Bar, click on Tools, then select Internet Options.</p>
      <p>2. Under the General Tab, click on the Settings button in the Browsing History Section.</p>
      <p class="style6"><img src="images/ie1-1.jpg" class="img-responsive" style="padding-top:25px; height:auto; width:auto;"/></p>
        <p>3. Select &quot;Every Time I Visit The Webpage&quot; radio button, click OK button. Also select <strong>Delete...</strong> under the Browsing history section to clear out your temporary internet files (cache).</p>
      <p><img src="images/ie1-2.jpg" class="img-responsive" style="padding-top:25px; height:auto; width:auto;"/></p>
      <p>4. Click OK button again.</p>
      <p>Note: If this feature is disabled, then you will need to contact your network administrator.</p>
      <p class="style6"><br class="style6">
      </p>
      <p align="left" class="style1"><span class="style4">* If you need further assistance, please call our helpdesk at 866-756-6041, or email us at <a href="mailto:help@collectorsolutions.com" class="style1">help@collectorsolutions.com</a>.</span></p>      </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
    </div></div>