<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Update Root Certificate on Server</h3>
  </div>
  <div class="panel-body">
<table border="0">
  <tr>
    <td valign="top">
      <p align="left" class="style6">If the root certificate in your web server is corrupted, or your CIS application server can not connect to secure.collectorsolutions.com you may need to download the root certificate update from Microsoft.</p>
      <p align="left"><span class="style6">Troubleshooting Tips To Consider Prior to Installing Update<br>
        </span>On the server or workstation that you are having connectivity issues, first open up a command prompt, and type the following:</p>
      <p align="left">ipconfig /flushdns</p>
      <p align="left">This will flush your DNS cache from the workstation or server. </p>
      <p align="left">Then open up a browser and go the following web site:</p>
      <p align="left"><a href="https://secure.collectorsolutions.com/test.htm" target="_blank">https://secure.collectorsolutions.com/test.htm</a></p>
      <p align="left">If you are able connect, then you DO NOT NEED TO UPDATE YOUR ROOT CERTIFICATE.</p>
      <p align="left">If you are not able to reach the site, and receiving a 404 error: unable to reach the web site, then you will need to update the certificate. Click on the link below to download and install the update from Microsoft's website.<span class="style6"><br>
      </span></p>
      <p align="left" class="style6">&nbsp;</p>
      <p><span class="style6">Quick Overview:</span><br>
        <br>
        This item updates the list of root certificates on your computer to the list that is accepted by Microsoft as part of the Microsoft Root Certificate Program. </p>
      <p>This item updates the list of root certificates on your computer to the list that is accepted by Microsoft as part of the Microsoft Root Certificate Program. Adding additional root certificates to your computer enables you to use Extended Validation (EV) certificates in Internet Explorer 7, a greater range of security enhanced Web browsing, encrypted e-mail, and security enhanced code delivery. After you install this item, you may have to restart your computer. Once you have installed this item, it cannot be removed.</p>
      <p><a href="http://www.microsoft.com/downloads/en/details.aspx?FamilyID=3a027078-4cd7-4b27-9837-3d7e58dd5a89" target="_blank">Click Here</a> to download and install the root certificate update.</p>
      <p class="style6">&nbsp;</p>
    
      <p align="left" class="style1"><span class="style4">* If you need further assistance, please call our helpdesk at 866-756-6041, or email us at <a href="mailto:help@collectorsolutions.com" class="style1">help@collectorsolutions.com</a>.</span></p>      </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
    </div></div>