<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">How The Credit Card Process Works</h3>
  </div>
  <div class="panel-body">
      <table border="0">
  <tr>
    <td valign="top">
      
      <p><img src="images/How The Credit Card Process Works.jpg" class="img-responsive" style="padding-top:25px; height:auto; width:auto;"/></p>
      <p class="style6"><br class="style6">
      </p>
      <p align="left" class="style1"><span class="style4">* If you need further assistance, please call our helpdesk at 866-756-6041, or email us at <a href="mailto:help@collectorsolutions.com" class="style1">help@collectorsolutions.com</a>.</span></p>      </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
    </div></div>      