<div class="row" style="background-color:#fff; margin-top:-150px; padding-top:300px; min-height:800px;">
    <div class="container" style="">
        <div class="col-xs-12">
           
                <h1>Collector Solutions, Inc. Support</h1>
          <hr>
            <div class="col-xs-12">
               <nav>
                  <ul class="nav nav-pills nav-justified">
                    <li><a ui-sref="help.faq1" >Desktop shortcuts</a></li>
                    <li><a ui-sref="help.faq2">Timeouts</a></li>
                    <li><a ui-sref="help.faq3">Using FTP</a></li>
                    <li><a ui-sref="help.faq4">Clearing cache</a></li>
                    <li><a ui-sref="help.faq5">Updating certificates</a></li>
                    <li><a ui-sref="help.faq6">Credit card process</a></li>
                  </ul> 
                </nav>
               
                <div ui-view style="text-align:left; margin-top:25px; margin-bottom:50px;"><div style="text-align:center; padding-top:50px;">Please select a topic</div></div>
            </div>
        </div>
    </div>
</div>