<div class="row" style="background-color:#fff; padding-top:100px; margin-top:-8%; min-height:600px;">
    <div class="container" style="">
        <div class="col-xs-12" style="color:#3f3f3f; text-align:left; padding:50px;">
            <section role="features">
                <div class="">
                    <h1>Collector Solutions, Inc. Offers Innovative Solutions</h1>
                    <hr>
                    <div style="margin-left:15px;">
                        <div class="row">
                            <div class="">
                                <h3 class="solutionHeader">Virtual Terminal</h3>
                                <p>Process credit card and ACH transactions from any computer with Internet access anywhere in the world.</p>
                            </div>
                            <br/>
                            <div class="">
                                <h3 class="solutionHeader">Detailed Client Reporting</h3>
                                <p>Maximize operating efficiency using our real-time reporting capabilities.</p>
                            </div>
                            <br/>
                            <div class="">
                                <h3 class="solutionHeader">Recurring Payments</h3>
                                <p>Preauthorized payments using our recurring payment engine.</p>
                            </div>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="">
                                <h3 class="solutionHeader">Notifications and alerts</h3>
                                <p>Send out customized reminders, receipts and other notifications.</p>
                            </div>
                            <br/>
                            <div class="">
                                <h3 class="solutionHeader">Bill Presentment</h3>
                                <p>Allow customers to access and manage their accounts.</p>
                            </div>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="">
                                <h3 class="solutionHeader">Payment tokenization</h3>
                                <p>PCI compliant, payment information remains encrypted throughout settlement process.</p>
                            </div>
                            <br/>
                            <div class="">
                                <h3 class="solutionHeader">SOAP and RESTful API's</h3>
                                <p>Integrate your payment processes using our flexible <a href="http://api.collectorsolutions.com/">API</a>.</p>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row" style="margin-bottom:25px;">
                <hr>
                <br/>
                <div class="col-xs-12 col-md-4"> <img src="images/gene.jpg" class="img-thumbnail img-responsive center-block" alt="Gene Valentino">
                </div>
                <div class="col-xs-12 col-md-6">
                    <div style="padding-top:75px; font-style:italic; font-size:20px; text-align:center;"><strong>"CollectorSolutions was founded with a core principle: That its operating platform would be a client-based solution addressing business efficiency."<br/><br/>- Gene M. Valentino, Founder &amp; CEO</strong>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>